name: build

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

defaults:
  run:
    shell: bash -l {0}

jobs:
  build:
    if: "!contains(github.event.pull_request.labels.*.name, 'docs-only')"
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        # os: [macos-latest, windows-latest]
        os: [windows-latest]
        python-version: ['3.6', '3.7', '3.8', '3.9', '3.10']

    steps:

      - uses: actions/checkout@v2

      - uses: conda-incubator/setup-miniconda@v2.0.0
        with:
          miniconda-version: "latest"
          channels: conda-forge
          python-version: ${{ matrix.python-version }}

      - uses: compas-dev/compas-actions.build@v1.1.1
        with:
          test_lint: true
          test_compas: true
